.logo {
    width: 250px; /* Adjust the width as needed */
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0; /* Change as needed */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar ul li {
    margin-right: 20px; /* Adjust as needed */
}

.navbar ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.navbar ul li a {
    text-decoration: none;
    color: #333; /* Change link color as needed */
}





*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;}